* {
	margin: 0; padding: 0;
}
body {
	text-align: center;
	font: 11px Verdana;
	color: #000000;
	background: #807c7ca4;
}
/* h1 {
	color: #ffffff;
	text-align: center;
	padding: 5px	;
	background-color: #3c75ddd5;
} */
a {
	text-decoration: none;
	color: #0000ff;
}
a:hover {
	text-decoration: underline;
	color: #ff0000;
}
img {
	border: 0;
}
.center{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
.break {
	font-size: 0;
	width: 0; height: 0;
	clear: both;
}
.alignleft {
	float: left;
	margin: 4px 10px 5px 0;
}
.alignright {
	float: right;
	margin: 4px 0 5px 10px;
}
.aligncenter {
	text-align: center;
}
.hidden {
	display: none;
}

/** BEGIN wrapper **/
#wrapper {
	width: 980px;
	margin: auto auto;
	text-align: left;
}
/** END wrapper **/

/** BEGIN header **/
#header {
	height: 250px;
	background: url(images/bghd.jpg) no-repeat 0 0;
}
	#header h1 {
		font-size: 0;
		float: left;
		background-color: none;
		padding: 30px 0 15px;
	}
		#header h1 a {
			display: block;
			width: 200px; height: 150px;
			text-indent: -9999px;
			outline: none;
			background: url(images/logo.png) no-repeat 0 0;
		}
	#header .ad {
		float: right;
		padding: 30px 0px;
		
	}
	#header ul {
		clear: both;
		list-style-type: none;
		background-color: #031B54;
		height: 30px;
		padding: 5px 0px;
	}
		#header ul li {
			float: left;
			font-weight: bold;
		}
		#header ul li a {
			color: #ffffff;
			display: block;
			padding: 8px 10px 9px;
		}
		#header ul li a:hover {
			background-color: #1d48ad;
			text-decoration: none;
		}
/** END header **/

/** BEGIN content **/
#content {
	width: 653px;
	float: left;
	border: 1px solid #CCCCCC;
	padding: 5px;
	background-color: #ffffff;
}
	#content h1{
		color: #ffffff;
	text-align: center;
	padding: 5px	;
	background-color: #3c75ddd5;
	}
	#content a {
		color: #031B54;
	}
	#content {

	}
	#content .post {
		float: left;
		width: 150px; height: 440px;
		padding: 6px;
	}
		#content .post h2 {
			font-size: 1em;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		#content .post .thumb {
			width: 150px; height: 115px;
			overflow: hidden;
			margin-bottom: 5px;
		}
			#content .post .thumb img {
				width: 150px;
			}
		#content .post h3 {
			font-size: 1.2em;
			margin-bottom: 10px;
		}
		#content .post p {
			line-height: 1.4em;
		}
		#content .post .readmore {
			text-indent: -9999px;
			width: 99px; height: 17px;
			outline: none;
			background: url(images/readmore.gif) no-repeat 0 0;
			margin: 10px 0;
			display: block;
		}
	#content h2.title {
		font-size: 1em;
		text-transform: uppercase;
		padding: 10px;
	}
	#content .archive {
		padding: 10px;
		clear: both;
	}
		#content .archive img {
			width: 90px;
			float: left;
			margin: 0 5px 5px 0;
		}
		#content .archive h3 {
			margin-bottom: 5px;
		}
		#content .archive p {
			line-height: 1.5em;
			margin-bottom: 10px;
		}
	#content .single {
		padding: 10px;
	}
		#content .single h2 {
			margin-bottom: 10px;
			font-size: 1.4em;
		}
		#content .single p {
			line-height: 1.5em;
			margin-bottom: 10px;
		}
		#content .single ul, #content .single ol {
			list-style-position: inside;
			margin-bottom: 10px;
		}
		#content .single li {
			line-height: 1.5em;
			padding: 2px 0;
		}
		#content .single blockquote {
			padding: 10px 10px 5px;
			margin-bottom: 10px;
			background-color: #eeeeee;
			border-width: 1px 0;
			border-style: solid;
			border-color: #e0e0e0;
		}
		#content .single h3, #content .single h4, #content .single h5, #content .single h6 {
			font-size: 1.2em;
			margin-bottom: 5px;
		}
	#postnav {
		padding: 10px;
		font-weight: bold;
	}
/** END content **/

/** BEGIN sidebar **/
#sidebar {
	width: 300px;
	float: right;
}
	#sidebar .box {
		
	}
		#sidebar .box h2 {
			color: #031B54;
			font-size: 1em;
			text-transform: uppercase;
			background-color: #FFFFFF;
			padding: 8px 10px;
			border-bottom: 1px solid #DDDDDD;
		}
		#sidebar .box  {
			border: 1px solid #CCCCCC;
			margin-bottom: 8px;
		}
		#sidebar .search {
			margin-bottom: 0;
			border-bottom: 0;
		}
		#sidebar .box form {
			width: 284px; height: 30px;
			padding: 7px;
			background: #E8E8E8 ;
		}
			#sidebar .box form input {
				border: 0;
				float: left;
				font-size: 1.2em;
				font-family: Verdana;
				width: 200px;
				margin: 7px 0 0 5px;
				
			}
			#sidebar .box form button {
				border: 0;
				float: right;
				color: white;
				
				width: 70px; height: 30px;
				background-color: #031B54;
			}
		#sidebar .ad {
			background-color: #ffffff;
			text-align: center;
			padding: 5px;
		}
			#sidebar .ad img {
				margin: 5px;
			}
		#sidebar ul {
			list-style-type: none;
			background-color: #ffffff;
			padding: 6px;
		}
			#sidebar ul li {
				font-size: 1.2em;
				border-bottom: 1px dotted #DCDCDC;
				line-height: 1.4em;
				padding: 2px 0;
			}
			#sidebar ul li a {
				color: #031B54;
			}
			#sidebar ul li a:hover {
				color: #1d48ad;
				text-decoration: none;
			}
		#sidebar .flickr {
			padding: 5px;
			background-color: #ffffff;
			text-align: center;
		}
			#sidebar .flickr img {
				margin: 5px;
			}
		#sidebar .video {
			background-color: #ffffff;
			padding: 3px;
		}
		#sidebar .l {
			float: left;
			width: 145px;
		}
		#sidebar .r {
			float: right;
			width: 145px;
		}
		#sidebar .l ul li, #sidebar .r ul li {
			font-size: 1em;
			border-bottom: 0;
			padding: 3px 0;
		}
/** END sidebar **/

/** BEGIN footer **/
#footer {
	clear: both;
	padding: 10px;
	color: #ffffff;
	background-color: #031B54;
	height: 16px;
	margin-top: 10px;
}
	#footer .l {
		float: left;
	}
	#footer .r {
		float: right;
	}
	#footer a {
		color: #ffffff;
		text-decoration: underline;
	}
/** END footer **/

/** BEGIN miscellaneous **/
#comments {
	padding: 10px;
}
	#comments a {
		text-decoration: none;
	}
	#comments h2 {
		font-size: 1.4em;
		margin: 10px 0;
	}
	#comments p {
		margin-bottom: 10px;
		line-height: 1.6em;
	}
	#comments form {
		
	}
	#comments form p {
		margin-bottom: 5px;
	}
		#comments form input {
			margin-right: 5px;
		}
		#comments form input, textarea {
			border: 1px solid #cccccc;
			font-size: 0.9em;
			font-family: Verdana;
			padding: 4px;
			background-position: 4px 4px;
			background-repeat: no-repeat;
		}
		#comments form input {
			width: 260px;
			border: 1px solid #cccccc;
		}
		#comments form textarea {
			width: 350px;
			padding: 4px 4px !important;
			border: 1px solid #cccccc;
		}
		#comments form button {
			border: 1px solid #a0a0a0;
			font-size: 1em;
			font-family: Verdana;
			padding: 2px 6px;
		}
	.commentdetails {
		margin-top: 25px;
	}
	.commentauthor {
		margin-bottom: 5px !important;
		font-weight: bold;
	}
	.commentdate {
		font-size: 0.8em;
		margin-bottom: 5px;
		color: #909090;
	}
	.required {
		color: #ff0000;
	}
h2.title {
	font-size: 1em !important;
	text-transform: uppercase;
	padding: 10px;
	color: #565656;
}
.notfound {
	padding: 40px;
}
	.notfound h2 {
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 10px;
	}
/** END miscellaneous **/

/** BEGIN wordpress 2.7 comments **/
#comments ol {
	list-style-type: none;
	clear: both;
	padding: 0;
	margin: 0;
}
	#comments .buffer {
		padding: 10px;
	}
	#comments h2 {
		
	}
	#comments ol li {
		margin-bottom: 10px;
	}
	#comments ol li ul li {
		border: 1px solid #e0e0e0;
		padding: 10px;
	}
	#comments ol li .avatar {
		float: right;
	}
	#comments ol li .comment-author {
		
	}
		#comments ol li .comment-author .fn {
			font-weight: bold;
			font-size: 1.2em;
		}
	#comments ol li .comment-meta {
		font-size: 0.9em;
		color: #999999;
		margin: 5px 0 10px;
	}
	#comments ol li .reply {
		font-size: 0.9em;
		font-weight: bold;
		padding-bottom: 10px;
	}
	#comments .children {
		list-style-type: none;
	}
#comments .navigation {
	padding: 0 10px 20px;
	font-size: 0.9em;
}
	#comments .navigation a {
		color: #999999;
		padding: 3px 8px;
		border: 1px solid #cccccc;
	}
	#comments .navigation a:hover {
		color: #000000;
		border-color: #000000;

		text-decoration: none;
	}
#comments .says {
	display: none;
}
/** END wordpress 2.7 comments **/


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color: #ffffff;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}